/* Styles for the heading section */

body{
  background-color:  #e6e2dd;
}

.heading {
    margin-bottom: 20px;
    color: #444040;
  }
  
  .heading h1 {
    font-size: 34px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
  }
  
  .heading h2 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
  }
  
  .heading ul {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 50px;
  }
  
  /* Styles for the list items */
  .square-list li {
    list-style-type: square;
    font-size: large;
    text-align: left;
  }
  
  /* Styles for the list items */
.square-list li {
    list-style-type: square;
}

/* Optional additional styles */
.square-list li:before {
    content: "▪";
    margin-right: 16px;
    
}
.btn {
  display: block;
  width: 150px;
  padding: 10px;
  background: linear-gradient(
        to right,
        hsl(0, 100%, 12%),
    hsl(0, 91%, 47%)
    );
  color: #ffffff;
  transition: filter 600ms;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  filter: hue-rotate(-40deg);
}


.navigation{
   
  height: 70px;
  background-color: rgb(0, 0, 0);
  position: relative;
  display: flex;
  justify-content: right;
  border-radius: 0px;
}

.navigation ul{
  display: flex;
  width: 400px;
  text-align: right;
}

.navigation ul li{
  position: relative;
  list-style: none;
  width: 100px;
  height: 20px;
  z-index: 1;
}

.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

.navigation ul li .icon{
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.navigation ul li:hover a .icon{
  transform: translateY(-25px);
}

.navigation ul li a .text{
  position: absolute;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: rotateY(10px);
}

.navigation ul li:hover  a .text{
  opacity: 10;
  transform: translateY(10px);
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}