/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  background: linear-gradient(
      to right,
      hsl(0, 0%, 0%),
      hsl(0, 94%, 7%),
      hsl(0, 0%, 0%)
  );
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}


h1 {
  color: #ffffff;
  font-size: 44px;
  margin: 0;
}

/* Hero Section Styles */
.hero {
  background: linear-gradient(
      to right,
      hsl(0, 0%, 0%),
      hsl(0, 94%, 7%),
      hsl(0, 0%, 0%)
  );
  padding: 267px;
  text-align: center;
}

.btn {
  display: block;
  width: 150px;
  padding: 10px;
  background: linear-gradient(
        to right,
        hsl(0, 100%, 12%),
    hsl(0, 91%, 47%)
    );
  color: #ffffff;
  transition: filter 600ms;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  filter: hue-rotate(-40deg);
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}



